
*{
	color: #777777;
	box-sizing: border-box;
	font-size: 12px;
}

header{
	background: #4aaaa5;
	width: 20%;
	align-content: center;
	text-align: center;
	padding: 15px;
	margin-left: 150px;
	margin-right: 500px;
	float: left;
	font-family:'Georgia', Times, Times New Roman, serif;

}

h1{
	font-size: 28px;
	color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h2{
	color: #4aaaa5;
	font-size: 24px;
	margin-left: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	/*border-bottom-color: #dddddd
	border-bottom-style: solid;*/
}

h3{
	color: #4aaaa5;
	font-size: 20px;
	margin-left: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	/*border-bottom-color: #dddddd
	border-bottom-style: solid;*/

}

h4{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #ffffff;
}

input{
	background-color: #ffffff;
	border-color: #dddddd;
	border-style: solid;
	border-width: 2px;
	width: 100%;
	
}

.title{
	border-bottom-color: #dddddd
	border-bottom-style: solid;
	border-width: 2px;
}

#navbar{
	align-content: center;
	text-align: center;
	/*float: left;*/
	padding-top: 25px;
	list-style: none;


}

#navbar li{
	float: left;
}

#navbar li a{
	display: inline-block;
	text-align: center;
	padding-right: 16px;
	text-decoration: none;
	font-size: 17px;
}

.tabs{
	font-size: 12px;
}

.socialimage{
	width: 50px;
	height: 50px;
	margin: 10px;

}



.portfolioimage{
	width: 200px;
	height: 100px;
	margin: 50px;
	float: left;
}

#maincontent{
	clear: both;
	width: 100%;
	height: 750px;
	margin: 0 auto;
	position: relative;
	background-image: url("assets/images/dark_embroidery.png");
	/*background-repeat: no-repeat;*/
	border-style: solid;
	border-top-color: #dddddd;
	border-bottom-color: #4aaaa5;
	border-top-width: 5px;
	border-bottom-width:5px;
	/*background-color: #ddd3d0;*/

}

#mainbody{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ffffff;
	border-color: #dddddd;
	border-style: solid;
	border-width: 5px;
	width: 650px;
	padding: 5px;
	margin:50px; 
	align-content: center;
	position: absolute;
	top: 0px;
	left: 100px;
	

}


#myimage{
	width: 175px;
	height: 175px;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}


#connect{
	align-content: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 270px;
	padding: 5px;
	margin: 50px;
	background-color: #ffffff;
	border-color: #dddddd;
	border-style: solid;
	border-width: 5px;
	position: absolute;
	top: 0px;
	right: 100px;
	

}





#message{
	
	width: 99%;
	height: 200px;
	margin: 5px;
	border-width: 2px;
	border-color: #dddddd;
	border-style: solid;

}

#submit{
	background: #4aaaa5;
	color: #ffffff;
	align-content: center;
	text-align: center;
	padding: 10px;
	margin: 10px;
	float: left;
	font-family:'Georgia', Times, Times New Roman, serif;
	font-size: 16px;
	width: 20%;
}

#footer{
	clear: both;
	width: 100%;
	margin: 0 auto;
	background-color: #666666;
	padding: 20px;
	align-content: center;
	text-align: center;
	

}